@import "../../../../assets/styles/helpers/variables";
@import "../../../../assets/styles/helpers/mixins";

* {
  color: #F2F0F0;
  border: none;
  overflow-wrap: break-word;
  font-family: $font-family-Optima;
}

 .carousel-item {
  width: 100%;
  max-height: 500px;
 }
.carousel-control {
  &-prev , &-next{
    opacity: 1;
    &-icon {
      height: 100px;
      width: 80px;
    }
  }
}
.item-overlay {
    background-color: rgb(70, 80, 82);
    bottom: 0;
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
}
.carousel-control-prev-icon {
  background-image: url('../../../../assets/styles/images/banner/1455397555_prev.svg');
}

.carousel-control-next-icon {
  background-image: url('../../../../assets/styles/images/banner/1455397555_next.svg');
}

.carousel-caption-desc{
  position: absolute;
  top: 40%;
  right: 0;
  bottom: auto;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  max-width: 422px;

}
.font-color-main{
  color: $main-color;
}
.font-size-30 {
  font-size: 30px;
}
.carousel-caption {
  padding-bottom: 0;

}

.btn-second-color,  .btn-gray {
  border-radius: 0;
}
.font-second-color {
  color: $secondary-color;
}
.btn-second-color {
  background-color: $secondary-color;
}
.btn-gray {
  background-color: none;
  border: 1px solid white;
}

span.box, span.line  {
  position: absolute;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
}
span.line {
  top: 28px;
  margin-top: auto;
  margin-bottom: auto;
}

