<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="row">

    <div class="carousel-inner">
      <div class="carousel-item text-center active">
        <div class="item-overlay"> </div>
        <img class="d-block w-100" src="../../../../assets/styles/images/banner/Clip.png" alt="First slide">
        <div class="carousel-caption-desc ">
          <h6 class="text-content"> <span class="font-second-color font-size-30"> Al Jalila Foundation </span> is
            focused on inspiring the next generation of Emirati
            <span class="font-size-30">Healthcare</span> professionals in the UAE. </h6>
          <div class="mt-5">
            <a class="btn btn-gray mr-3 pr-4 pl-4" href="#">{{'Read More' | translate}}</a>
            <a class="btn btn-second-color " href="#">{{'DONATE NOW' | translate}}</a>
          </div>
        </div>
        <div class="carousel-caption">
          <a href="#">
            <span class="mouse">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="28"
                viewBox="0 0 20 28">
                <image id="_1455474486_Mouse" data-name="1455474486_Mouse" width="20" height="28"
                  xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAYAAABh2p9gAAAABHNCSVQICAgIfAhkiAAAAnVJREFUSEvV1U2I1lUUx/HPQJpGuEgntBZZLQoTUcGEAaECcdHbRsiw0oUmpQm6MBDFlwptRMNQpEKo0SzQDNJcaJuiMBKUFr0JGRWIZq0iNyUjP7n/uP15xtFn14FZzL3nfO/zP+d3zukZHBw0hM3As3gYE4rPn/gY7+Jwp7ieDsB70Y9Hq4Bv8Dcm44Zy/hXW4FgNbgMD+ag4fImXcBT/VEF9WIG55Ww9NjT3NTCOX5SLJ/H+ULko5w/hQ4zBIuzOeQ38HWPLp9b5GYXFJXAAv1YP3Y4fcSMm4ucGuB3LsQw7q4C78SkSGMunz8TJymcKvsZp3BPgaFzEuaqajf8rWI3X8C3eKn+pfm0p2iT0BTgP72EXnm85bisFGI/ziMY+weyWXx54I0UMcCtWYgnebDluxou4HycK8BAea/lFat+lMAHuwVNFwEdajq9iFabjVAFG2I+0/G7BH/ggwFTu6Q7VTczreAF34acCjC7ntIDjcAEHAnwbC/B4JerGP7BAj0cSSL43Yl0LeGvJ8f7hgCOKjKLDWCSUbkpP13bNwCZoKm7G5y1Q8+91A4fg/Hv8PwO+g2eKWCPabqwXvzWyuZqwrxWeKZVpdUXYO7AUC5Ff243diTMYCLBp7C2lzboBPlEGcn+ATdv8gDR5N/YZZqUOzYDNHkkHZMO1B8RwDzQFyXDobYA34a8SeQd+GY5S3X+fSY0H0pr1TpmPvWV6P4isyatZdshBTMPLWBvn9hptRn7uNiEKONuiZstl3OUulhQlVVes06JPcrMeo61YchPoJaRnb6seyFftqx/sBMz9SDxX1ud9rV+YQbsfWR3pjv/YZVvv5EJnyTcXAAAAAElFTkSuQmCC" />
              </svg>
            </span>
            <span class="line">
              <svg class="line" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1"
                height="20" viewBox="0 0 1 20">
                <defs>
                  <clipPath id="clip">
                    <use xlink:href="#fill" />
                  </clipPath>
                </defs>
                <g id="Shape_6" data-name="Shape 6" fill="none" stroke="#fff" stroke-width="2">
                  <rect id="fill" width="1" height="20" stroke="none" />
                  <path d="M0,1h1M1,0v20M1,19h-1M0,20v-20" fill="none" clip-path="url(#clip)" />
                </g>
              </svg>
            </span>
            <span class="box">
              <svg class="box" xmlns="http://www.w3.org/2000/svg" width="11" height="21" viewBox="0 0 11 21">
                <text id="_" data-name="" transform="translate(0 17)" fill="#fff" font-size="16"
                  font-family="SegoeUI, Segoe UI">
                  <tspan x="0" y="0"></tspan>
                </text>
              </svg>
            </span>
          </a>
          <p> Scroll Down</p>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev " href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next " href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
