// Breakpoints
$maxMobile: 540px;
$maxSmall: 720px;
$maxMedium: 960px;
$maxLarge: 1140px;

// Font-size
$font-22: 22px;
$font-24: 24px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-10: 10px;

// Colors
// $main-color: #c71621;
$main-color: #008795;
$secondary-color: #7CC242;
$light-gray: #D9D9D9;
$main-color-deep: #168D91;
$brown-color:#4A4A4A;
$main-color-light: #61AEB9;

// Margin
$margin-40: 40px;


$font-family-Calibri: Calibri;
$font-family-Optima: Optima;
$font-family-Semilight: Semilight
