
@import "../../../assets/styles/helpers/variables";


#newsDetails {
  font-family: $font-family-Optima;

  .font-color-main {
    color: $main-color;
  }
  .text-lg {
    font-size: x-large;;
  }
}
