
@import "../../../assets/styles/helpers/variables";
@import "../../../assets/styles/helpers/mixins";

* {
  font-family: $font-family-Optima;
  color: white;
}
#sucses-story {
  %height-width {
    height: 54px;
    width: 54px;
  }
  .carousel-control-next, .carousel-control-prev {
    opacity: 1;
    position: relative;
  }
  .carousel-control-prev-icon {
     @extend %height-width;
    background-image: url('../../../assets/styles/images/sucess-story/prev.svg');
  }
  .carousel-control-next-icon {
    @extend %height-width;
    background-image: url('../../../assets/styles/images/sucess-story/next.svg');
  }
}

.font-color-main{
    color: $main-color;
 }

a:hover {
  cursor: pointer;
}
.our-program {
  position: relative;
  max-height: 658px;
  .container-wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}
  .transform-subtitle {
    transform: rotate(-90deg);
  }
  img.transform-subtitle {
    width: 64px;
    height: 64px;
  }
  .img-height {
   max-height: 658px;
  }

}



.wrapper {
  margin-top: 25px;
}
.row-wrapper {
  display: flex;
  justify-content: center;
}

.row-wrapper div {
  &.border-white{
    border: 1px solid white;
  }
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
}


.wrapper .row-wrapper:last-child {
  margin-top: -20px;
}

.row-wrapper div:not(:last-child) {
  margin-right: 45px
}

.row-wrapper div:not(:first-child) {
  margin-left: 30px
}
