<!-- carousel -->
<app-carousel-banner></app-carousel-banner>

<!-- sucses-story -->
<div id="sucses-story">
  <div class="container ">
    <div class="row d-block text-center pt-5 pb-5">
      <h4 class="font-weight-normal  d-flex justify-content-center font-color-main">
        How we have helped</h4><h6 class="font-weight-normal font-color-main" >
          See how Al Jalila Foundation have promoted change locally and to the world</h6>
    </div>

      <div id="carouselSucsesStory" class="pb-5 carousel slide" data-ride="carousel">
        <div class="row">
        <a class="carousel-control-prev col-2" href="#carouselSucsesStory" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <div class="carousel-inner col-8">
          <div class="carousel-item text-center active ">
            <div class="row">
            <div class="col-md-6">
            <app-sucess-story></app-sucess-story>
            </div>
            <div class="col-md-6">
            <app-sucess-story></app-sucess-story>
            </div>
            </div>
          </div>
          <div class="carousel-item  text-center ">
            <div class="row">
            <div class="col-md-6 col-sm-12">
            <app-sucess-story></app-sucess-story>
            </div>
            <div class="col-md-6 col-sm-12">
            <app-sucess-story></app-sucess-story>
            </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-next col-2" href="#carouselSucsesStory" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>


  </div>
</div>

<!-- our program -->

<div class="our-program ">
  <img class="w-100 img-height" src="../../../assets/styles/images/our-program/Clip.png" alt="">
  <div class="container-wrapper ">
    <div class="container h-100  d-flex our-program-wrapper ">
      <div class="row d-block text-center">
        <h4 >Today’s Investments, Tomorrow’s Cures</h4>
        <h6 >Support the different programs we have below</h6>
      </div>

        <div class="wrapper  ml-auto mr-auto">
          <div class="row-wrapper">
            <div *ngFor="let program of programsUp" class="border-white">
              <div class="desc-porgram">
                <div class="img-icon-back">
                <img src="{{program.icon}}" class="transform-subtitle img-responsive ">
              </div>
                <h6 class="transform-subtitle text-center "> {{program.name}} </h6>
                <h6 class="transform-subtitle text-center ">+</h6>
              </div>
            </div>
          </div>

          <div class="row-wrapper">
            <div *ngFor="let program of programsDown" class="border-white">
              <div class="desc-porgram">
                <div class="img-icon-back">
                <img src="{{program.icon}}" class="transform-subtitle img-responsive">
                </div>
                <h6 class="transform-subtitle text-center  "> {{program.name}} </h6>
                <h6 class="transform-subtitle text-center">+</h6>
              </div>
            </div>
          </div>

        </div>
    </div>
  </div>

</div>


<!-- releases-section -->
<div id="releases-section" class="mt-5">
  <div class="container ">
    <div class="row d-block text-center pt-2 pb-2">
        <h4 class="font-weight-light d-flex justify-content-center font-color-main ">Our latest</h4>
        <h2 class="font-weight-normal font-color-main cursor" ><a (click)="routeToPressReleases()" >Press Releases </a></h2>
    </div>
    <div class="row  pb-5">
      <app-releases-section [_articles]="lastestArticles"></app-releases-section>
    </div>
  </div>
</div>

