@import "../../../../assets/styles/helpers/variables";
@import "../../../../assets/styles/helpers/mixins";

#card-release {
  font-family: $font-family-Optima;

  & .card-title {
    margin-bottom: 0;
  }
  & .card-subtitle {
    margin-top: -.9rem;
  }
   & .font-size-60 {
     font-size: 60px;
    }
   & .font-size-30 {
     font-size: 30px;
    }
    & .font-size-16 {
      font-size: 16px;
    }
   & .card-text, a {
     font-family: $font-family-Calibri;
    }
    a {
      background-color: #A7A9AC;
      position: absolute;
      padding: 13.7px 25px;
      border-radius: 0;
      bottom: 50px;
      left: 25px;
      border: none;
    }
   & .card-img {
     opacity: 0.5;
     max-width: 500px;
    min-height: 400px;
   }
  & :hover {
    background-image: none;
    cursor: url('../../../../assets/styles/images/releases-seaction/Layer62.png'), auto;
    background-color: $secondary-color;
    a {
      border: 1px solid white;
      background-color: $secondary-color;
    }

  }

}
