
    <div class="card-group">
      <img class="ellipse" src="../../../../assets/styles/images/sucess-story/Ellipse 3.png" alt="ellipse">
      <img class="ellipse-svg" src="../../../../assets/styles/images/sucess-story/Group 23.png" alt="ellipse-svg">
        <div class="card bg-dark text-white">
          <img class="card-img" src="../../../../assets/styles/images/sucess-story/Clip.png" alt="Card image">
          <!-- <div class="card-body"> -->
          <div class="card-img-overlay">
            <p class="card-title mb-5  mt-5">TA’ALOUF PROGRAM</p>
            <h2 class="card-subtitle">200</h2>
            <p class="card-subtitle ">GRADUATES TO DATE</p>
            <p class="card-text mt-1">Ta”alouf program aims to extend its reach across the Emirates addressing the needs of the country.</p>
            <!-- </div>
              <div class="card-footer mb-2"> -->
              </div>
        </div>
      </div>

