<footer class="mt-3">
  <div class="text-coler-gray" id="navbar">
    <div class="container ">
      <div class="row pb-5 pt-4 d-flex justify-content-between">
        <div class="">
          <h5>Who We Are</h5>
          <ul class="footer-links list-unstyled">
            <li><a href="#">{{'About Us' }}</a></li>
            <li><a href="#/">Mission, Vission & Goals</a></li>
            <li><a href="#">Our Message</a></li>
            <li><a href="#">Board of Trustees</a></li>
            <li><a href="#">Board of Trustees</a></li>
            <li><a href="#/">FAQ’s</a></li>
          </ul>
        </div>
        <div class="">
          <h5>What we do</h5>
          <ul class="footer-links list-unstyled">
            <li><a href="#">Research</a></li>
            <li><a href="#">Programmes</a></li>
            <li><a href="#">Collaborations</a></li>
            <li><a href="#">in2Hc</a></li>
          </ul>
        </div>
        <div class="">
          <h5>{{'Get Involved' }}</h5>
          <ul class="footer-links list-unstyled">
            <li><a href="#">{{'Donate'}}</a></li>
            <li><a href="#">{{'Partners'}}</a></li>
          </ul>
        </div>
        <div class="">
          <h5>Media Center</h5>
          <ul class="footer-links list-unstyled">
            <li><a href="#">{{'Photo Gallery'}}</a></li>
            <li><a href="#">{{'Video Gallery'}}</a></li>
            <li><a href="#">{{'Social Media Hub'}}</a></li>
            <li><a href="$">{{'Events'}}</a></li>
          </ul>
        </div>

        <div class="">
          <h5>{{'Contact Us'}}</h5>
          <ul class="footer-links list-unstyled">
            <li><a href="#">{{'Contact Details'}}</a></li>
            <li><a href="#">{{'Careers'}}</a></li>
          </ul>
          <h5 class="mb-4"> {{'Subscribe to our Newsletter'}}</h5>
          <div class="input-group ">
            <input type="text" class="form-control" placeholder="Enter Your email address"
              aria-label="Enter Your email address">
            <div class="input-group-append">
              <button class="btn btn-subscribe" type="button"><span class="text-white">{{'Subscribe'}}</span></button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="text-white" id="copyRight">
    <div class="container ">
      <div class="row d-flex justify-content-between ">
        <span>
          Terms & Conditions <span class="ml-2 mr-2" [innerHTML]="rectangle"> </span>
          Privacy Policy <span class="ml-2 mr-2" [innerHTML]="rectangle"></span>
          Sitemap <span class="ml-2 mr-2" [innerHTML]="rectangle"></span> User Agreement
        </span>
        <span>
          Copyright 2016 LinkDev. All Rights Reserved.
        </span>
      </div>
    </div>
  </div>

</footer>
